[defaults]
inventory = ansible/inventory/azure.ini
roles_path = ansible/roles
remote_user = azureuser
private_key_file = ansible/jenkins_vm.pem
# to not ask for confirmation when connecting to new hosts
host_key_checking = False
# to avoid creating .retry files after failed runs
# as they are not important for the project
retry_files_enabled = False
# to display task execution time and profile slow tasks for optimization
callbacks_enabled = timer, profile_tasks

[ssh_connection]
# not asking for confirmation when connecting to new hosts
# pipeling to speed up execution by reducing SSH overhead
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
pipelining = True
